<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="title" content="Eventos Infantiles Querétaro - Eventos Glück">
  <meta name="description" content="Eventos Infantiles Querétaro - Animación de Eventos Infantiles - Animación Eventos de Empresa - Casino para eventos - Juegos para fiestas infantiles - Personajes para fiestas infantiles">
  <meta name="keywords" content="animadores, superheroes, fiestas infantiles querétaro, botarga paw patrol, botarga toy story, princesas disney, caballetes, inflables, salon de fiesta infantil,
  casino para evento, eventos empresariales, team building, despedidas de soltera, baby shower, pintacaritas, maquillaje para niños, spa para niñas, juegos de feria, feria infantil, juegos de destreza, 
  niños en bodas, manualidades para niños, superheroes para fiestas infantiles, actividades de integracion">
  <title>Eventos Gluck - Eventos Infantiles Querétaro</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <link href="https://fonts.googleapis.com/css?family=Mali:medium" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
      body{
          background-color: #212121;
      }
  </style>
</head>
<body>
  <nav class="purple" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="../views/infantil.html">Glück Infantil</a></li>
        <li><a href="../views/social.html">Glück Social</a></li>
        <li><a href="../views/empresarial.html">Empresariales</a></li>
        <li><a href="../views/tematicas.html">Temáticas</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="../views/infantil.html">Glück Infantil</a></li>
        <li><a href="../views/social.html">Glück Social</a></li>
        <li><a href="../views/empresarial.html">Empresariales</a></li>
        <li><a href="../views/tematicas.html">Temáticas</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <header class="container-fluid" style="padding-top:0;">
    <div id=aux-container>
      <div class="row">

        <div class="col l4 offset-l2">
          <div class="row center">
            <a href="/index.html"><img class="hide-on-med-and-down" height=300 src="/img/logo-gluck.png" alt="Gluck"></a>
            <a href="/index.html"><img class="hide-on-large-only" height=93 src="/img/logo-gluck.png" alt="Gluck"></a>
          </div>
          <div class="row center">
              <h5 class="col s12">Ingresa tus datos y te contactaremos lo más pronto posible para comenzar a preparar el evento de tus sueños</h5>
          </div>
        </div>

        <div class="col l3 offset-l1">
          <div class="register-form-card card">
            <div class="card-content">
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <form method="POST" action="formulario.php" accept-charset="UTF-8">
                      <div class="col s12">
                        <label for="name">Nombre completo*</label>
                        <input type="text" name="name" id="name" required title="name" placeholder="María Hernandez">
                      </div>
                      <div class="col s12">
                        <label for="phone">Teléfono (Celular)*</label>
                        <input type="tel" name="phone" id="phone" required title="phone" placeholder="(442)2101616">
                      </div>
                      <div class="col s12">
                        <label for="email">Correo Electrónico*</label>
                        <input type="email" name="email" id="email" required title="email" placeholder="correo@example.com">
                      </div>
                      <div class="col s12">
                        <label for="eventDate">¿Qué dia quisieras para tu evento?</label>
                        <input type="date" name="eventDate" id="eventDate" title="eventDate">
                      </div>
                      <div class="input-field col s12 center-align">
                        <button type="submit" class="btn btn-large waves-effect waves-light purple">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


      </div>
    </div>
  </header>

  <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row center-align">
              <h5 class="white-text" style="font-weight: 600">Contáctanos</h5>
        </div>
          <div class="row center-align">
              <div class="col l4 s12">
                  <a class="white-text" href="#!" style="font-size:20px;"><i class="far fa-envelope" style="font-size:40px;"></i><br>karla@eventosgluck.com.mx</a>
              </div>
              <div class="col l4 s6">
                  <a class="white-text" href="https://www.facebook.com/EventosGluck/" target="_blank" style="font-size:20px; text-decoration: underline;"><i class="fab fa-facebook-f" style="font-size:40px;"></i><br>Facebook</a>
              </div>
              <div class="col l4 s6">
                  <a class="white-text" href="https://wa.me/5214421483284" style="font-size:20px; text-decoration: underline;"><i class="fab fa-whatsapp" style="font-size:40px;"></i><br>(442) 148 3284</a>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
              <div class="container center-align">
              <a class="purple-text text-lighten-2" href="http://materializecss.com"></a>
              </div>
            </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>