<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="title" content="Eventos Infantiles Querétaro - Eventos Glück">
  <meta name="description" content="Eventos Infantiles Querétaro - Animación de Eventos Infantiles - Animación Eventos de Empresa - Casino para eventos - Juegos para fiestas infantiles - Personajes para fiestas infantiles">
  <meta name="keywords" content="animadores, superheroes, fiestas infantiles querétaro, botarga paw patrol, botarga toy story, princesas disney, caballetes, inflables, salon de fiesta infantil,
  casino para evento, eventos empresariales, team building, despedidas de soltera, baby shower, pintacaritas, maquillaje para niños, spa para niñas, juegos de feria, feria infantil, juegos de destreza, 
  niños en bodas, manualidades para niños, superheroes para fiestas infantiles">
  <title>Eventos Gluck - Eventos Infantiles Querétaro</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <link href="https://fonts.googleapis.com/css?family=Mali:medium" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav class="purple" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="../views/infantil.html">Glück Infantil</a></li>
        <li><a href="../views/social.html">Glück Social</a></li>
        <li><a href="../views/empresarial.html">Empresariales</a></li>
        <li><a href="#">Temáticas</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="../views/infantil.html">Glück Infantil</a></li>
        <li><a href="../views/social.html">Glück Social</a></li>
        <li><a href="../views/empresarial.html">Empresariales</a></li>
        <li><a href="#">Temáticas</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <header class="section no-pad-bot" id="index-banner" style="padding-top:0;">
    <div id=aux-container>
      <div class="row center">
        <a href="/index.html"><img class="hide-on-med-and-down" height=300 src="/img/logo-gluck.png" alt="Gluck"></a>
        <a href="/index.html"><img class="hide-on-large-only" height=93 src="/img/logo-gluck.png" alt="Gluck"></a>
      </div>
      <div class="row center">
        <h5 class="col s12">Fiestas temáticas</h5>
        <h5 class="header col s12 light"><i class="fas fa-angle-right" style="font-size:22px;"></i> Mexicana 
                                        <i class="fas fa-angle-right" style="font-size:22px;"></i> Fútbol 
                                        <i class="fas fa-angle-right" style="font-size:22px;"></i> Óscares y más</h5>
      </div>
      <div class="row center">
        <a href="../views/contacto.html" class="btn-large waves-effect waves-light purple">Solicitar información</a>
      </div>
      <br><br>

    </div>
  </header>

  <section class="grey darken-4" id="footer">
    <div class="container">
      <div class="row center-align">
            <span class="white-text" style="font-size:18px; font-weight:600">Contáctanos</span>
      </div>
      <div class="row center-align">
          <div class="col l4 s12">
              <a class="white-text" href="mailto:karla@eventosgluck.com.mx" style="font-size:18px;"><i class="far fa-envelope" style="font-size:35px;"></i><br>karla@eventosgluck.com.mx</a>
          </div>
          <div class="col l4 s6">
              <a class="white-text" href="https://www.facebook.com/EventosGluck/" target="_blank" style="font-size:18px; text-decoration: underline;"><i class="fab fa-facebook-f" style="font-size:35px;"></i><br>Facebook</a>
          </div>
          <div class="col l4 s6">
              <a class="white-text" href="https://wa.me/5214421483284" style="font-size:18px; text-decoration: underline;"><i class="fab fa-whatsapp" style="font-size:35px;"></i><br>(442) 148 3284</a>
          </div>
      </div>
    </div>
  </section>

  <div class="container" id="benefits">
    <div class="section">

      <div class="col s12 m7">
          <h2 class="header">Fiesta Mexicana</h2>
          <div class="card horizontal">
            <div class="card-image hide-on-med-and-down">
              <img src="/img/10.png">
            </div>
            <div class="card-stacked">
              <div class="card-content valign-wrapper grey lighten-4">
                <p class="hide-on-med-and-down" style="font-size:2rem;">Demuestra que en nuestro México todo es diversión y mucho color con este concepto de feria y casino mexicano. Disponible todo el año apártala.</p>
                <img id="responsive-img" class="hide-on-large-only" src="/img/10.png">
              </div>
              <div class="card-action grey lighten-4">
                <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
              </div>
            </div>
          </div>
        </div>

      <div class="col s12 m7">
          <h2 class="header right-align">Fiesta Medieval</h2>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content valign-wrapper grey lighten-4">
                <p class="hide-on-med-and-down" style="font-size:2rem;">Transpórtate a la época de caballeros y doncellas donde las vestimentas, armaduras y escudos eran característicos. Tenemos un concepto de decoración y casino medieval para ti y tus invitados. Conócela..</p>
                <img id="responsive-img" class="hide-on-large-only" src="/img/fiesta-medieval.jpg">
              </div>
              <div class="card-action grey lighten-4">
                  <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
              </div>
            </div>
            <div class="card-image hide-on-med-and-down">
              <img src="/img/fiesta-medieval.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7">
          <h2 class="header">Los Óscares</h2>
          <div class="card horizontal">
            <div class="card-image hide-on-med-and-down">
              <img src="/img/fiesta-oscares.png">
            </div>
            <div class="card-stacked">
              <div class="card-content valign-wrapper grey lighten-4">
                <p class="hide-on-med-and-down" style="font-size:2rem;">¿Te gustaría ganar una estatuilla?  Crea el ambiente tipo Hollywood para compartir con tus amigos..</p>
                <img id="responsive-img" class="hide-on-large-only" src="/img/fiesta-oscares.png">
              </div>
              <div class="card-action grey lighten-4">
                <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
              </div>
            </div>
          </div>
        </div>

      <div class="col s12 m7">
          <h2 class="header right-align">Fiesta Árabe</h2>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content valign-wrapper grey lighten-4">
                <p class="hide-on-med-and-down" style="font-size:2rem;">Para los amantes de la cultura del medio oriente, tenemos juegos y dinámicas con un toque de velos y turbantes para dar un ambiente árabe a tu evento.</p>
                <img id="responsive-img" class="hide-on-large-only" src="/img/fiesta-arabe.png">
              </div>
              <div class="card-action grey lighten-4">
                  <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
              </div>
            </div>
            <div class="card-image hide-on-med-and-down">
              <img src="/img/fiesta-arabe.png">
            </div>
          </div>
        </div>

        <div class="col s12 m7">
        <h2 class="header">Circo</h2>
        <div class="card horizontal">
          <div class="card-image hide-on-med-and-down">
            <img src="/img/fiesta-circo.png">
          </div>
          <div class="card-stacked">
            <div class="card-content valign-wrapper grey lighten-4">
              <p class="hide-on-med-and-down" style="font-size:2rem;">Creamos el ambiente del circo poniendo colores y juegos de cirqueros. Un concepto único y divertido.</p>
              <img id="responsive-img" class="hide-on-large-only" src="/img/fiesta-circo.png">
            </div>
            <div class="card-action grey lighten-4">
              <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <h2 class="header right-align">Fiesta de Fútbol</h2>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content valign-wrapper grey lighten-4">
                <p class="hide-on-med-and-down" style="font-size:2rem;">Si el fútbol es tu pasión este concepto es para ti. Creamos espacios para vivir transmisión de partidos, juegos y todo lo que al balompié se refiere.</p>
                <img id="responsive-img" class="hide-on-large-only" src="/img/fiesta-futbol.png">
              </div>
              <div class="card-action grey lighten-4">
                  <a class="purple-text" target="_blank" href="https://www.facebook.com/media/set/?set=a.221650871216688&type=1&l=51741022ad">Ver más fotos...</a>
              </div>
            </div>
            <div class="card-image hide-on-med-and-down">
              <img src="/img/fiesta-futbol.png">
            </div>
          </div>
        </div>

      </div>
    </div>
    <br><br>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>